* p {
  text-align: justify;
}

body {
  font-family: serif; /*CHANGED*/
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

html {
  font-family: serif; /*CHANGED*/
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: serif; /*CHANGED*/
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  letter-spacing: 3px;
/*  text-shadow: 7px 0px 1px rgba(0,0,0,0.08),
               14px 0px 2px rgba(0,0,0,0.05);*/
}

.t-center {
  text-align: center;
}

.t-nav-container {
    box-shadow: 0 5px 5px rgba(0,0,0,0.05);
}

#t-title-1 {
    letter-spacing: 8px;
    margin-top: 10px;
    margin-bottom: 12px;
    opacity: 1;
    transition: .6s;
    text-shadow: -20px 0px 1px rgba(0,0,0,0.2),
             20px 0px 1px rgba(0,0,0,0.2),
             -40px 0px 3px rgba(0,0,0,0.1),
             40px 0px 3px rgba(0,0,0,0.1),
             -60px 0px 8px rgba(0,0,0,0.075),
             60px 0px 8px rgba(0,0,0,0.075),
               -80px 0px 16px rgba(0,0,0,0.05),
             80px 0px 16px rgba(0,0,0,0.05),
               -100px 0px 32px rgba(0,0,0,0.04),
             100px 0px 32px rgba(0,0,0,0.04);
}

#t-nav-links {
  margin-bottom: 20px;
  letter-spacing: 2px;
  transition: .3s;
}


#t-nav-links a {
  opacity: 1;
  transition: .3s;
}

a h1 {
  transition: .2s;
}

a h1:hover {
  opacity: 1;
  transition: .3s;
}

#t-nav-links a:hover {
  opacity: .7;
  transition: .3s;
}

.t-slash {
  margin: 10px;
}

.t-right-shadow {
  text-shadow: 8px 0px 0px rgba(0,0,0,0.4),
               16px 0px 0px rgba(0,0,0,0.2),
               24px 0px 0px rgba(0,0,0,0.1),
               32px 0px 0px rgba(0,0,0,0.05),
               40px 0px 0px rgba(0,0,0,0.05),
               48px 0px 0px rgba(0,0,0,0.01);
}

.t-right-title-shadow {
  text-shadow: 17px 0px 0px rgba(0,0,0,0.8),
               34px 0px 0px rgba(0,0,0,0.5),
               51px 0px 0px rgba(0,0,0,0.2),
               67px 0px 0px rgba(0,0,0,0.1),
               85px 0px 0px rgba(0,0,0,0.06),
               102px 0px 0px rgba(0,0,0,0.01);
}

.t-left-title-shadow {
  text-shadow: -19px 0px 0px rgba(0,0,0,0.65),
               -38px 0px 0px rgba(0,0,0,0.35),
               -57px 0px 0px rgba(0,0,0,0.15),
               -76px 0px 0px rgba(0,0,0,0.08),
               -95px 0px 0px rgba(0,0,0,0.05),
               -114px 0px 0px rgba(0,0,0,0.005);
}

#t-main-col {
  margin-top: 2%;
  margin-bottom: 75px;
  max-width: 650px;
}

#t-thumbnail {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 30px;
  width: 100%;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.2),
              5px 5px 25px rgba(0,0,0,0.1);
  transition: .1s;

}

#t-thumbnail:hover {
    opacity: .9;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.3),
              5px 5px 25px rgba(0,0,0,0.2);
    transition: .2s;
}

#t-image-row-margin {
  margin: 0px;
}

div.t-checklist {
  margin-bottom: 40px;
}

a {
  color: black; /*CHANGED*/
  text-decoration: none;
}

a:hover, a:focus {
  color: black; /*CHANGED*/
  text-decoration: none; /*CHANGED*/
}

.navbar {
  position: relative;
  min-height: 10px;
  margin-bottom: 0px; /*CHANGED*/
  border: none; /*CHANGED*/
}

.navbar-brand {
  float: left;
  height: 35px;
  padding: 5px 10px; 
  letter-spacing: 1px; /*CHANGED*/
  font-size: 18px;
/*  line-height: 20px;*/
}

.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 1px;
  margin-right: 5px;
/*  margin-bottom: 8px;*/
  background-color: transparent;
  border: none; /*CHANGED*/
  border-radius: 0px; /*CHANGED*/
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: rgba(0,0,0,0);
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: none; /*CHANGED*/
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: black;
}
/*
.navbar-default .navbar-toggle .icon-bar:hover {
  background-color: black;
}
*/
.navbar-default .navbar-brand {
  color: black;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: rgba(0,0,0,1);
  background-color: transparent;
}

#t-navbar-hr {
  padding: 0;
  margin: 0;
/*  height: 1px;*/
}

#t-nav-link-mobile {
  color: black;
  letter-spacing: 1px;
  /*opacity: 1;
  */
}

.btn.t-btn-donate {
  font-family: sans-serif;
/*  width: 250px;
*/  margin-bottom: 10px;
}

.navbar-nav > li > a {
/*  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;*/
  line-height: 0px;
}

.modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 3px; /*CHANGED*/
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}

p.t-checkboxes {
  font-size: 13px;
}

#t-popout-text {
  margin-top: 4%;
  margin-bottom: 4%;
  text-align: justify;
/*  padding-right: 5%;*/
}

#t-section-sm button {
  border-radius: 3px;
/*  width: 60%;
*/  min-width: 200px;
}

.btn h6 {
  margin: 0px 8px;
  padding: 0px;
  text-align: left;
  line-height: 15px;
  width: auto;
  min-width: 175px;
}

#t-homenav-linkbox-mobile {
  display: block;
  width: 165px;
  background-color: none;
  padding-left: 0px;
  padding-top: 15px;
  margin: auto;
}

.t-block {
  background-color: rgba(255,255,255,0.75);
  padding: 1% 6% 0 6%;  
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
/*  margin-top: 5%;
*/  box-shadow: 0px 0px 10px rgba(255,255,255,0.85);
}

#bs-example-navbar-collapse-1 {
  margin-bottom: 5px;
}

#bs-example-navbar-collapse-1 a:hover{
  opacity: .7;
}

.navbar #t-navbar-white {
  background-color: white;
  padding-top: 4px;
}

.navbar-brand.container {
  background-color: white;
  margin-top: 3px;
}

#t-soon {
  display: block;
  width: 175px;
  margin: 30px auto;
}

.btn {
  transition: .2s;
}

.btn:hover {
  transition: .2s;
}

h1#t-title-1:hover {
	opacity: .8;
	transition: .3s;
/*    animation: shake 0.2s;
    animation-iteration-count: infinite;*/
}

/*@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}*/

p a {
	transition: 0s;
	color: black;
  text-decoration: underline;
}

p a:hover {
	opacity: .75;
	transition: 0s;
	color: black;
  text-decoration: underline;
}

.btn-default {
	background-color: rgba(0,0,0,.05);
	box-shadow: 2px 2px 2px rgba(0,0,0,.07);
}

.btn-default:hover {
	transition: .3s;
	background-color: rgba(0,0,0,.04);
	box-shadow: 2px 2px 2px rgba(0,0,0,.1);
	border: 1px solid rgba(0,0,0,.1);
}

ol {
	cursor: pointer;
}

#t-email-link {
	letter-spacing: 1px;
}

#t-email-link:hover {
	opacity: 1;
/*	cursor: pointer;
*/}

.t-big-favicon {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10%;
  width: 50%;
  max-width: 225px;
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.2s;
  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
  /*transition: 15s;*/
}

.t-big-favicon:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.2s;
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
/*    -webkit-filter: blur(3px);
    filter: blur(3px);
    transition: 10s;
*/}

@keyframes shake {
    0% { transform: translate(0px, 0px) rotate(0deg); }
    10% { transform: translate(-0px, -0px) rotate(-2deg); }
    20% { transform: translate(-0px, 0px) rotate(2deg); }
    30% { transform: translate(0px, 0px) rotate(0deg); }
    40% { transform: translate(0px, -0px) rotate(2deg); }
    50% { transform: translate(-0px, 0px) rotate(-2deg); }
    60% { transform: translate(-0px, 0px) rotate(0deg); }
    70% { transform: translate(0px, 0px) rotate(-2deg); }
    80% { transform: translate(-0px, -0px) rotate(2deg); }
    90% { transform: translate(0px, 0px) rotate(0deg); }
    100% { transform: translate(0px, -0px) rotate(-2deg); }
}